.container
  = render partial: "column", locals: {title: "Pending",     collection: @pending,     current_status: 'pending',     next_status: 'interviewed'}
  = render partial: "column", locals: {title: "Interviewed", collection: @interviewed, current_status: 'interviewed', next_status: 'hired'}
  = render partial: "column", locals: {title: "Hired",       collection: @hired,       current_status: 'hired',       next_status: 'archived'}
